
    @model AgendaContatosMVC.Models.Endereco

    @{
        ViewData["Title"] = "Deletar Endereço";
    }


    <h2>@ViewData["Title"]</h2>

    <h3>Você tem certeza que deseja deletar este endereço?</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Enderecos)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.ContactId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Enderecos)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.ContactId)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Voltar a Lista</a>
        </form>
    </div>